$lg: 1400px;
$ml: 1240px;
$md: 1024px;
$sm: 768px;
$xs: 480px;

$black: #000000;
$white: #ffffff;
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$green: #89c527;
$orange: #ff9900;
$purple: #5a27c5;

$bg-gray: #f7f7f7;
$bg-green: $green;
$bg-green-light: rgba(137, 197, 39, 0.1);
$bg-orange: $orange;
$bg-orange-light: rgba(255, 153, 0, 0.1);
$bg-purple: $purple;
$bg-purple-light: #e6dff6;

$border-gray: #e0e0e0;

$medium: 500;
$semi-bold: 600;
$bold: 700;